.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 24px;
  flex: 1;
  overflow: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
}

.form-actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-top: 16px;
}
